@model ProPayment.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Arena.ArenaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Referee1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Referee1.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Referee2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Referee2.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Referee3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Referee3.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Referee4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Referee4.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Referee5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Referee5.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series.SeriesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TSMNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TSMNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
