@model IEnumerable<ProPayment.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referee1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referee2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referee3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referee4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referee5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TSMNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arena.ArenaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referee1.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referee2.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referee3.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referee4.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referee5.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series.SeriesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TSMNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
